* {
    margin: 0;
    padding: 0;
    color: #FFFFFF !important;
  }


body {
    margin: 0;
    background-color: #0d141a !important;
    color: #FFFFFF !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER / NAV BAR STYLES START */
header {
    background-color: #0d141a;
    /* border: #FFFFFF solid 1px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
  }

/* .circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
   
} */

header h6 {
    /* font-weight: bold; */
    /* margin: 10px; */
    align-self: left;
    color: #FFFFFF;
}

/* header nav {
    margin: 7px 0;
    align-self: right !important;
} */

a:hover {
    color: #81566f !important;
    border-radius: 10px;
    text-decoration: none !important;
}

header nav {
    border-bottom: 2px solid white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
}
/* HEADER / NAV BAR STYLES END */

/* #lake {
   width: 100%;
} */

#image {
    width: 200px;
    height: 350px;
}

.me {
    padding-left: 40px;
    padding-top: 100px;
}

.font-sansita {
    font-family: "Sansita One";
    font-size: 27px;
}

.intro {
    margin-bottom: 300px;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 120px;
    margin: 10px;
}


.about h2 {
    padding: 4px;
    border-right: #FFFFFF solid 2px;
    
}

#work img {
    /* max-height: 100px; */
    border: black solid 2px;
    width: 230px;
    height: 120px;
}

.p-2 {
    color: #2D3533 !important;
}

.p-2:hover {
    color: #C2D4D0 !important;
}

/* .projects {
    margin-bottom: 100px;
} */

/* Projects section */

.projects-section h2 {
    text-align: center;
    font-family: sans-serif;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.project {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}

.project img {
    width: 100%;
}

.project-info {
    padding: 25px;
  line-height: 1.3;
}

.project-title {
    text-align: center;
}


footer {
    padding: 10px;
    text-align: center;
    /* color: #2D3533 !important; */
    font-size: 15px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }
    header nav ul li a {
        font-size: 18px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li a {
        font-size: 15px;
    }
}
